/__init__.cpython-38.pyc
/abstractcrawler.cpython-38.pyc
/database.cpython-38.pyc
/doomworldcrawler.cpython-38.pyc
/dwscrawler.cpython-38.pyc
/tspgcrawler.cpython-38.pyc
/wadarchivecrawler.cpython-38.pyc
